/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-text: #386651
   --color-section: #EAF2FD;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

 .page {
    /* max-width: 1440px;
    margin: 32px auto;
    padding-top: 32px;
    height: 100vh; */
    width: 100%;
    max-width: 1136px;
    margin: auto;
}


ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

#logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

#logo img {
    width: 24px;
    height: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.menu__list{
    display: flex;
    gap: 32px;
}


/*Sessão Title*/

.title__div {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-right: 17px;
}

.title__profile {
    width: 368px;
    height: 368px;
    border-radius: 50%;
    /* margin-top: 20px; */
}

.title__bio {
    font-weight: 700;
    font-size: 52px;
    line-height: 61.05px;
    padding-top: 32px;
    margin-bottom: 24px;
}

.title__subsection {
    font-weight: 400;
    font-size: 22px;
    line-height: 25.83px;
    padding-bottom: 24px;
}

.title__network {
    display: flex;
    gap: 32px;
    padding: 0px;
    border-bottom: 2px solid transparent;
}
.title__network__item a:hover {
    color: var(--color-text);
    text-decoration: underline;
    /* border-bottom: 2px solid var(--color-text); */
}


/*Sessão About*/

.about{
    background-color: var(--color-section);
    border-radius: 32px;
    
    margin-top: 32px;
}


.about__container__conteudo {
    max-width: 751px;
}

.about__title {
    font-weight: 700;
    font-size: 30px;
    color: var(--color-text);
}

.about__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.78px;
    color: var(--color-text);
}


.about__paragraph__bold {
    color: var(--color-text);
}


/*Sessão Hobbies*/


.skills__title,
.hobbies__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: var(--color-text);
}

.hobbies__title {
    padding-top: 50px;
}

.skills__line,
.hobbies__line {
    display: flex;
    gap: 15px;
}

.skills__box,
.hobbies__box {
    flex: 1 1 30%;
    display: flex;
    align-items: flex-end;
    height: 150px;
    background-color: var(--color-text-button);
}

.skills__name,
.hobbies__name {
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text);
    margin-top: 08px;
}



/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
